* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  background-color: rgb(150, 170, 199);
  text-transform: capitalize;
  margin-top: 1px;
  padding: 10px;
  font-size: 2rem;
}
h3 {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

body {
  background: url(assets/8768075.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  gap: 3rem;
}
.container .place-details {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 0.5rem;
  font-size: 1.5rem;

  border: 2px solid gray;
}
input {
  color: #000;
}
.city,
.search,
.location {
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 10px;
  border: none;
  background-color: rgb(252, 229, 183);
}

.search:hover,
.location:hover {
  background-color: #eee;
}
.city {
  margin: 10px;

  padding: 10px;
  align-items: center;
}
.weather-data {
  width: 100%;
}
.weather-current-details {
  color: #000;
  display: flex;
  border-radius: 0.5rem;
  padding: 20px 70px 20px 20px;
  gap: 3rem;
  /* justify-content: space-between; */
  /* background-color: red; */
}
.details h2 {
  font-size: 1.75rem;
}
.details h4 {
  margin-top: 12px;
  font-size: 1.2rem;
  font-weight: 500;
}
.days-forcast h2 {
  font-size: 1.6rem;
  margin: 20px 0;
  text-align: center;
}
.weather-cards {
  display: flex;
  gap: 20px;
}
.card {
  background-color: gray;
  list-style: none;
  color: #fff;
  padding: 18px 16px;
  width: 100%;
  border-radius: 0.5rem;
}
.card img {
  max-width: 70px;
  margin: 5px 0 -12px 0;
}
@media (max-width: 1400px) {
  .weather-data .weather-current-details {
    padding: 20px;
  }
  .weather-cards {
    flex-wrap: wrap;
  }
  .weather-cards .card {
    width: calc(100% / 4-15px);
  }
}
@media (max-width: 950px) {
  .weather-cards .card {
    width: calc(100% / 2 -10px);
  }
}
@media (max-width: 750px) {
  .container {
    flex-wrap: wrap;
    padding: 15px;
    text-align: center;
  }
}
