body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid green;
  height: 50vh;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 0 auto;
}
#Last-updated {
  font-size: 1rem;
  text-align: end;
  letter-spacing: 0.2rem;
  margin: 0 auto;
  font-weight: bold;

  padding: 10px;
}
.container h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: rgb(255, 255, 255);
  letter-spacing: 1.3px;
}
p {
  font-size: 1.3rem;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
button {
  font-size: 2rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: green;
  cursor: pointer;
}
button:hover {
  background-color: gray;
  cursor: pointer;
}
i {
  font-size: 1rem;
}
i.fa-quote-left:first-child {
  margin: 3px 10px 0 0;
}
i.fa-quote-right:last-child {
  display: flex;
  align-items: flex-end;
  margin: 0 0 3px 10px;
}
