body {
  background-color: #f9f9f9;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
#search-input {
  width: 60%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 1.2rem;
}
#search-button {
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: ease-in;
  cursor: pointer;
}
#search-button {
  background-color: #eee;
}
.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.search-result {
  margin-bottom: 60px;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.search-result:hover img {
  transform: scale(1.05);
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.search-result a {
  padding: 10px;
  display: block;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease-out;
}
.search-result:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#show-more {
  background-color: #333;
  display: block;

  margin: 20px auto;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  padding: 10px 20px;
  border: none;
  transition: background-color, 0.3s ease-in-out;
}
#show-more:hover {
  background-color: green;
}
@media screen and(max-width:768px) {
  .search-result {
    width: 45%;
  }
}
@media screen and(max-width:480px) {

  .search-result {
    display: block;
    flex-direction: wrap;
    max-width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
  form {
    flex-direction: column;
  }
  #search-input {
    width: 85%;
    margin-bottom: 20px;
  }
}
